.about-us {
	margin-bottom: 55px;
	padding-top: 14px;
}
.about-us__title {
	display: block;
	font-size: 25px;
	line-height: 30px;
	font-weight: bold;
	margin-bottom: 31px;
}
.about-us__items-wrapper {
	padding: 0;
	margin: 0;
}
.about-us__items {
	display: block;
	list-style: none;
	font-size: 17px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	margin-bottom: 27px;
}
.about-us__items--img img {
	display: block;
	color: #63d1bb;
}
@media @tablet-widths {
	.about-us {
	margin-bottom: 79px;
	}
	.about-us__title {
	font-size: 43px;
	line-height: 50px;
	}
	.about-us__item {
	font-size: 20px;
	}
}
@media @desktop-widths {
	.about-us {
	margin-bottom: 86px;
	}
	.about-us__title {
	font-size: 53px;
	line-height: 57px;
	}
}