
.button {
	display: block;
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	padding: 15px 10px;
	text-decoration: none;
	color: #444444;
	border: 2px #444444 solid;
	text-transform: uppercase;
	font-weight: bold;
}
.button--catalog-order {
	width: 140px;
	padding: 18px 24px 14px;
	margin-left: 33px;
	margin-bottom: 32px;
}
.button--add {
	display: block;
	text-align: center;
	width: 260px;
	height: 52px;
	padding: 18px 82px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	background: #63d1bb;
	margin-top: 31px;
}
