.catalog-card {
	margin-bottom: 30px;
}
.catalog-card__info-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	border: 1px solid #ededed;
	margin-top: 0;
	padding: 30px 27px;
}
.catalog-card img {
	display: block;
	padding: 0;
	margin-bottom: 0;
}
.catalog-card a {
	text-decoration: none;
	color: #000000;
}
.catalog-card__title {
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
	text-align: left;
}
.catalog-card__info {
	display: block;
	padding-bottom: 17px;
	font-size: 13px;
	line-height: 30px;
	font-weight: normal;
	color: #505050;
	border-bottom: 1px solid #ececec;
}
.catalog-card__price {
	display: inline-block;
	vertical-align: top;
	float: left;
	width: 80px;
	font-size: 15px;
	line-height: 24px;
	font-weight: bold;
}
.catalog-card__card-link {
	display: inline-block;
	vertical-align: top;
	width: 25px;
	height: 25px;
	font-size: 0;
}