.catalog-card {
	margin-bottom: 30px;
}
.catalog-card__info-wrapper {
	display: block;
	border: 1px solid #ededed;
	margin-top: 0;
	padding: 30px 27px;
}
.catalog-card img {
	display: block;
	padding: 0;
	margin-bottom: 0;
}
.catalog-card a {
	text-decoration: none;
	color: #000000;
}
.catalog-card__title {
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
	text-align: left;
}
.catalog-card__info {
	display: block;
	padding-bottom: 17px;
	font-size: 13px;
	line-height: 30px;
	font-weight: normal;
	color: #505050;
	border-bottom: 1px solid #ececec;
}
.catalog-card__price {
	display: inline-block;
	vertical-align: top;
	width: 102px;
	font-size: 15px;
	line-height: 24px;
	font-weight: bold;
}