.container {
	.container();
}
.container--header {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 78px;
}
.container--catalog {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-between;
}

@media @tablet-widths {
	.container {
		.container();
	}
	.container--header {
		min-height: 88px;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}
}