.contacts {
	.container();
	display: block;
	padding-top: 26px;
	margin-bottom: 20px;
}
.contacts__title {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 22px;
}
.contacts__table {
	display: block;
	width: 100%;
	min-height: 200px; 
	color: #444444;
	font-size: 15px;
	line-height: 30px;
	border-collapse: collapse;
}
.contacts__table td:nth-child(2){
	padding-left: 26px;
}
.contacts__table td:nth-child(1) {
	padding: 0;
	vertical-align: top;
}
.contacts__table-row a {
	display: block;
	padding-bottom: 2px;
	margin: 0;
	text-decoration: none;
	color: #444444;
	border-bottom: 1px solid #62d1ba;
}
.contacts__table-row:nth-child(2) .contacs__table-value {
	padding-top: 27px;
}
