.footer-social {
	.clearfix();
	display: block;
	background: #f1f1f1;
	width: 100%;
	min-height: 79px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 0;
}
.footer-social__wrapper {
	display: block;
}
.social-btn {
	display: block;
	width: 40px;
	min-height:  40px;
	margin: 0 auto;
	z-index: 3;
	cursor: pointer;
}
.social-btn--insta {
	display: block;
	background-image: url(../../img/icon-insta.svg);
	width: 22px;
	height: 22px;
	background-size: contain;
}
.social-btn--fb {
	background: url(../../img/icon-fb.svg);
	width: 15px;
	height: 28px;
	background-size: contain;
}