.footer-copyright {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 0 30px;
	box-sizing: border-box;
	background: #f1f1f1;
	min-height: 80px;
	text-align: center;
}
.footer-copyright__title {
	display: inline-block;
	vertical-align: middle;
	font-size: 19px;
	font-weight: bold;
	margin-left: 39px;
	margin-top: 29px;
}
.footer-copyright__link {
	background-image: url("../../img/htmlacademy.svg");
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
	width: 29px;
	height: 34px;
	margin-left: 20px;
	margin-top: 8px;
	margin-right: 20px;
}

@media @tablet-widths {
	.footer-copyright {
		display: flex;
		flex-direction: row;
		width: 200px;
		margin: 0;
		padding: 0;
	}
	.footer-copyright a {
		margin: 0;
	}
}
