.map {
	display: block;
	height: 457px;
	background: url("../../img/map-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top bottom;
	margin-bottom: 39px;
}