.page-title {
	margin-bottom: 21px;
	background: #f1f1f1;
	min-height: 176px;
	border-top: 1px solid #ececec;
}
.page-title__item {
	display: block;
	width: 260px;
	margin: 0 auto;
	padding: 0;
	font-size: 27px;
	line-height: 30px;
	text-align: center;
	padding: 69px 0;
	font-weight: bold;
}
.page-title__item--catalog {
	letter-spacing: 1.3px;
}
@media @tablet-widths {
	.page-title {
		margin-bottom: 80px;
		min-height: 223px;
	}
	.page-title__item {
		min-width: 400px;
		font-size: 43px;
		line-height: 50px;
		margin-top: 24px;
	}
}
