.page-intro {
	.clearfix();
	margin-bottom: 33px;
	background-image: url("../../img/hero-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-color: #fafafa;
	padding: 0;
}
.page-intro__title {
	width: 244px;
	margin: 0 auto;
	padding-top: 74px;
	padding-left: 8px;
	padding-bottom: 121px;
	font-size: 27px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
}
@media @tablet-widths {
	.page-intro {
		margin-bottom: 51px;
	}
	.page-intro__title {
		font-size: 43px;
		line-height: 50px;
	}
}
@media @desktop-widths {
	.page-intro {
		margin-bottom: 71px;
	}
	.page-intro__title {
		font-size: 53px;
		line-height: 57px;
	}
}