.popular-product {
	margin-bottom: 35px;
}
.popular-product__title {
	font-size: 25px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}
.popular-product__tag {
	font-size: 17px;
	font-weight: bold;
	color: #63d1bb;
	text-transform: uppercase;
	margin-bottom: 26px;
}
.popular-product__text {
	font-size: 15px;
	line-height: 24px;
	color: #444444;
	padding: 0;
	margin-bottom: 23px;
}
.popular-product__table {
	display: block;
	width: 100%;
	font-size: 15px;
	line-height: 20px;
	color: #444444;
	margin-bottom:  28px;
	border-collapse: collapse;
}
.popular-product__table td {
	padding-top: 12px;
	padding-bottom: 8px;
}
.popular-product__table td:nth-child(1) {
	width: 30%;
}
.popular-product__table td:nth-child(2) {
	width: 70%;
	padding-left: 11%;
}
.popular-product__table-value {
	border-bottom: 1px solid #ececec;
}
.popular-product__img {
	margin-bottom: 23px;
}
.popular-product__price {
	display: block;
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 24px;
}
@media @tablet-widths {
	.popular-product {
	margin-bottom: 52px;
}
	.popular-product__title {
		font-size: 43px;
		line-height: 50px;
	}
	.popular-product__text {
	font-size: 17px;
	line-height: 30px;
	}
	.popular-product__price {
	font-size: 20px;
	line-height: 24px;
	}
}
@media @desktop-widths {
	.popular-product {
	margin-bottom: 73px;
}
	.popular-product__title {
		font-size: 53px;
		line-height: 57x;
	}
}