.review-slide {
	margin-bottom: 35px;
}
.review-slide__title {
	font-size: 25px;
	line-height: 30px;
	font-weight: bold;
	margin-bottom: 23px;
}
.review-slide__text {
	font-size: 15px;
	line-height: 30px;
	font-weight: normal;
	margin-bottom: 28px;
}
.review-slide__user-name{
	display: block;
	font-size: 18px;
	font-weight: bolder;
	margin-bottom: 12px;
}
.review-slide__user-nickname {
	font-size: 18px;
}
@media @tablet-widths {
	.review-slide__title {
	margin: 0;
	margin-bottom: 49px;
	max-width: 300px;
	font-size: 43px;
	line-height: 50px;
	}
	.review-slide__text {
	font-size: 17px;
	line-height: 30px;
		margin-bottom: 60px;
	}
	.review-slide__user-name,
	.review-slide__user-nickname {
	width: 300px;
	font-size: 17px;
	}
}
@media @desktop-widths {
	.review-slide__title {
		margin-left: 175px;
	font-size: 53px;
	line-height: 57px;
	}
	.review-slide {
		margin-left: 175px;
	}
}