.video {
	width: auto;
	margin-bottom: 58px;
}
.video__wrapper {
	display: block;
	width: 260px;
	border: 1px solid #ececec;
}
.video__content {
	position: relative;
	margin-bottom: 27px;
}
.video__content-btn {
	position: absolute;
	top: 40px;
	right: 80px;
	width: 100px;
	height: 76px;
	box-sizing: border-box;
	border: 5px solid #ffffff;
	background-color: #62d1ba;
	border-radius: 20%;
	cursor: pointer;
}
.video__title {
	padding-left: 90px;
	padding-right: 15px;
	margin-top: 24px;
	margin-bottom: 20px;
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
}
.video__text {
	display: block;
	margin-left: 33px;
	margin-bottom: 23px;
	font-size: 13px;
	line-height: 24px;;
	color: #444444;
}

@media @tablet-widths {
	.video__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		border-style: none;
	}
	.video__content {
		width: 100%;
		height: 455px;
		order: ;
	}
	.video__content-btn {
		top: 40%;
		left: 35%;
	}
	.video__title {
		font-size: 20px;
		margin-left: 40px;
		order: 2;
	}
	.video__text {
		width: 585px;
		font-size: 15px;
		line-height: 30px;
		margin-left: 40px;
		order: 5;
	}
}
@media @desktop-widths {
	.video__wrapper {
		flex-direction: row;
	}
	.video__content {
		width: 682px;
	}
	.video__text {
		display: block;
	}
	.video__title {
		display: block;
	}
	.video__block {
		display: flex;
		flex-direction: column;
		width: 350px;
	}
}