.video {
	width: auto;
}
.video__wrapper {
	display: block;
	width: 260px;
	border: 1px solid #ececec;
}
.video__title {
	display: inline-block;
	vertical-align: top;
	width: 126px;
	margin-left: 90px;
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
}
.video__text {
	display: block;
	margin-left: 33px;
	font-size: 13px;
	line-height: 24px;;
}
